*© Copyright: Este notebook no puede ser distribuido parcial o totalmente sin autorizacion*

# **1. Python**

Python es uno de los lenguajes de programación más utilizados y populares del mundo. Es potente, versátil y fácil de aprender. Python se usa ampliamente en varias aplicaciones, entre ellas:

*   Desarrollo web
*   Data Science
*   Data analysis
*   Machine learning
*   Inteligencia artificial (IA)
*   Desarrollo de videojuegos

## ¿Quién usa python?

Según se informa, 275 495 empresas utilizan Python principalmente para la industria de servicios y tecnología de la información, incluidas empresas como Netflix, Uber, Google y Pinterest.

![python](https://www.megatrend.com/wp-content/uploads/2022/03/Slika3_Python_kompanije-1.png)

Fuente: [Megatrend](https://www.megatrend.com/en/the-rise-of-the-python-programming-language/) y [Enlyft](https://enlyft.com/tech/products/python).

## ¿Qué es Colab?

Colab, también conocido como "Colaboratory", permite programar y ejecutar Python en el navegador con las siguientes ventajas:
- No requiere configuración
- Se guarda en la nube
- Acceso a GPUs sin coste adicional
- Permite compartir contenido fácilmente

Un script Python es un archivo que contiene código Python y tiene la extensión **.py** mientras que un cuaderno o notebook tiene la extension **.ipynb**.

Un <strong>cuaderno o notebook de Colab</strong> es un entorno interactivo que permite escribir y ejecutar código. Por ejemplo, a continuación se muestra una <strong>celda de código</strong> con una breve secuencia de comandos de Python que calcula un valor, lo almacena en una variable e imprime el resultado:

In [ ]:
# Ejemplo de programa que agrega el impuesto al precio
precio_base = 36
igv = precio_base * 0.18
precio_final = precio_base + igv
print(precio_final)

Si quieres **ejecutar** el código de la celda anterior, haz clic para seleccionarlo y **pulsa el botón de reproducir (play)** situado a la izquierda del código o usa la combinación de teclas **"Comando/Ctrl + Enter"**. Para editar el código, solo tienes que hacer clic en la celda.

Podemos escribir comentarios de dos formas:


*   Comentarios de una sola linea usando `# `al inicio
*   Comentarios de más de una linea usando `'''` al inicio y al final

In [ ]:
'''
Parametros importantes de la función print
sep: Texto usado en la separación de los argumentos recibidos.
end: Texto impreso al final de la ejecución de la función.
'''
print("Python for Data Science", "Posgrado UCSP", sep = " - ", end = "!!!\n")

 **Ejercicio:** *Los siguientes comandos producen el mismo resultado?*

```
1) print("Hello world!")
2) print("Hello", "world!")
3) print("Hello", "world!", sep = " ")
```

##  Estructura Básica de un programa en Python
Un programa es una secuencia de comandos. El programa debe tener **un comando por linea**, Los comandos serán ejecutados en ese ordem, **de arriba para abajo**, uno a la vez.



```
comando 1
comando 2
...
comando n
```

In [ ]:
print("Hola, Bienvenidos a PhawAI-TaReCDa 2025")
print("Vamos a programar en Python =D")

In [ ]:
# ¿Qué ocurre si ponemos dos comandos en una misma linea?

In [ ]:
# ¿Cómo podemos solucionarlo?

# **2. Tipos de Datos**

## **2.1 Variables**


Las variables nos permiten asociar un nombre dado por el programador con un objeto (número, cadena de texto, etc.).

En Python existen **3 tipos de Datos Básicos** ( lógico, númerico y textual) .

En Python, **las variables no se declaran y no están fuertemente tipadas**.

Para verificar el tipo usamos `type()`.

In [ ]:
nombre = "Rosa"
apellidos = "Paccotacya Yanque"
codigo = 2023852
year = 2023
tiene_codigo = True

print(nombre, type(codigo))
print(year, type(year))
print(tiene_codigo, type(tiene_codigo))

In [ ]:
print(Nombre) # Python es sensible a mayúsculas?

### Nombres de variables



*   Debe comenzar con una letra (mayúscula o minúscula) o guion bajo(`_`). Nunca puede comenzar con un número.
*   Puede contener letras mayúsculas, minúsculas, números y subguíones.
*   No se puede utilizar como parte de un nombre de variable: { ( + - * / \ n ; . , ? $
*   Las letras mayúsculas y minúsculas son diferentes: `c = 4`  `C = 3`

In [ ]:
# Ejemplo Python es case-sensitive
x = 52
X = "52"

print(x, type(x))
print(X, type(X))

***Ejercicio:*** Los siguientes nombres de variables están correctos?


1.   `2025_curso = "Data Science"`
2.   `tasa$ = 1.5`
3.   `class = "Python"`

In [ ]:
# Test nombres de variables

Resulta que `class` es una de las palabras clave de Python.

Las palabras reservadas definen la sintaxis y la estructura del lenguaje de programación y no pueden usarse como nombres de variables.

Python tiene poco más de 30 palabras reservadas (y de vez en cuando las mejoras de Python introducen o eliminan una o dos).

In [ ]:
import keyword
print(keyword.kwlist)

Tambien debemos tener en cuenta no utilizare el nombre de una función común como nombre de variable. Los nombres de funciones ya definidas en Python más comunes son :

`len abs min max int float list str dict range map filter format`

In [ ]:
nombre = "Rosa"
len(nombre)

In [ ]:
# Qué pasaria si uso len como nombre de una de mis variables?

len =    # redefine len
len(nombre)

## **2.2  Datos booleanos**

En Python, el tipo bool especifica los valores booleanos falso (`False`) y verdadero (`True`).
Podemos crear variables asociadas con booleanos, pero el uso más común es verificar los resultados de expresiones relacionales y lógicas.

Las operaciones relacionales que podemos realizar son:


<table align="left">
<thead>
<tr>
<th>Símbolo</th>
<th>Significado</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>==</code></td>
<td>Igual que</td>
<td><code>5 == 7</code></td>
<td><code>False</code></td>
</tr>
<tr>
<td><code>!=</code></td>
<td>Distinto que</td>
<td><code>rojo != verde</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;</code></td>
<td>Menor que</td>
<td><code>8 &lt; 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;</code></td>
<td>Mayor que</td>
<td><code>12 &gt; 7</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;=</code></td>
<td>Menor o igual que</td>
<td><code>12 &lt;= 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;=</code></td>
<td>Mayor o igual que</td>
<td><code>4 &gt;= 5</code></td>
<td><code>False</code></td>
</tr>
</tbody>
</table>

La lógica booleana se realiza con `and`, `or` y  `not`.

In [ ]:
# Ejemplos booleano
verdadero = True
print(type(verdadero))

<class 'bool'>

In [ ]:
a = 0
b = 0
( a == 0 and b == 0 )

True

***Ejercicio***
Cuales de las siguientes expresiones son booleanas?



a. True

b. 3 == 4

c. 3 + 4

d. 3 + 4 == 7

e. “False”

***Ejercicio*** Cual es la expresion correcta en Python para verificar si um número almacenado en la variable x está entre 0 e 5? (múltiples respuestas)

a. 0 < x < 5

b. x > 0 or x < 5

c. x > 0 and x < 5

d. x > 0 and < 5

El orden de precedencia de los operadores lógicos es el siguiente:
* `not`
* `and`
* `or`

Podemos controlar el orden en el que se evalúan las expresiones usando paréntesis.

In [ ]:
a = 7
print(a > 5 or a < 0 and a != 7)

In [ ]:
print((a > 5 or a < 0) and a != 7)

## **2.3 Datos numéricos**

En Python podemos encontrar números enteros (`int`), números de punto flotante (`float`) y complejos (`complex`).

In [ ]:
# Números enteros y de punto flotante
nota_1 = 10
nota_2 = 7.8
nota_final = 8.75

In [ ]:
# Numeros complejos van en el formato R +aj
num_comp = 21 + 3j
print(num_comp.real)
print(num_comp.imag)
print(num_comp)
print(type(num_comp))

21.0
3.0
(21+3j)
<class 'complex'>

In [ ]:
# Números en notación científica con e
num_dec = 1.0e-5
print(num_dec)
print(num_dec * (10**5))

1.0

Podemos realizar diferentes operaciones con datos numéricos:
```
---------------------------------------------------------------------------
 Símbolo  Significado        Ejemplo            Resultado    Precedencia
   +       suma              a = 10 + 5         a es 15            3
   -       resta             a = 12 - 7         a es  5            3
   *       multiplicación    a = 7 * 5          a es 35            2
   /       división          a = 12.5 / 2       a es  6.25         2
  //       división entera   a = 12.5 // 2      a es  6.0          2
   %       módulo            a = 27 % 4         a es  3            2
  **       potencia          a = 2 ** 3         a es  8            1
---------------------------------------------------------------------------
```

In [ ]:
# Diferentes operaciones con enteros y flotantes de suma, la resta, la multiplicación y la división

In [ ]:
# Ejemplo modulo

### Precedencia

Así como en las matemáticas normales, la multiplicación y la división tienen mayor "precedencia" que la suma y la resta, por lo que se evalúan primero en una expresión. Después de tener en cuenta la precedencia, la aritmética se realiza de izquierda a derecha.

In [ ]:
# Ejemplos de precedencia

In [ ]:
(2 + 3) * 4

20

***Ejercicio :*** Cuál es el resultado de `120 / 4 * 3` ?

In [ ]:
# Test ejercicio

***Ejercicio :*** Cuál es el resultado de `100 - 99 / 3 % 2` ?

### División retorna Flotantes

In [ ]:
# Ejemplos división

### División entera `//`

In [ ]:
# Ejemplos division entera

### Floats : error de precisión

Los números de punto flotante tienen un pequeño error de precisión que se acumula unos 15 dígitos a la derecha. En general, este error no se muestra cuando se imprime el valor flotante, ya que algunos dígitos no se imprimen. Sin embargo, los dígitos de error son reales.

In [ ]:
nfloat = 0.1 + 0.2
print(nfloat)

0.30000000000000004

In [ ]:
nfloat == 0.3

False

En general, un error de aproximadamente 15 dígitos a la derecha no invalida un cálculo. Sin embargo, significa que el código no debe usar `==` con valores flotantes, ya que el error de precisión desviará la comparación. Para comparar valores flotantes, réstelos y compare el valor absoluto de la diferencia con algún número pequeño.

In [ ]:
diferencia = abs(nfloat - 0.3)
diferencia < 1.0e-9

True

## **2.4 Strings o Cadenas de texto**

Los objetos de cadena almacenan texto.
Una cadena cadena debe estar entre comillas simples o dobles. Ejemplos de cadenas:

`'¡Hola Arequipa!'` o `"Hola Arequipa!"`.

In [ ]:
# ejemplos cadenas ""''

In [ ]:
# ejemplo concatenación con +

In [ ]:
# ejemplo replicación con *

In [ ]:
# ejemplo in

In [ ]:
# Comparación de strings, el orden es  ABC...XYZabc...xyz

Para conocer el orden relativo de otros caracteres, consulte la tabla ASCII:  https://es.wikipedia.org/wiki/ASCII

## **2.5 Tipado dinámico en Python**

Una variable en Python tiene el tipo correspondiente al objeto al que está asociada en ese momento.
Python no está fuertemente tipado como otros lenguajes, esto significa que puedes asignar objetos de diferentes tipos a la misma variable.

In [ ]:
# Ejemplo tipado dinamico dia

***Ejercicio :*** Cuál es el valor almacenado en a ?

```
d = 3
c = 2
b = 4
d = c + b
a = d + 1
a = a + 1
print(a)
```

***Ejercicio :*** Cuál es el error en el siguiente programa ?


```
d = 3.0
c = 2.5
b = 4
d = b + 90
e = c * d
f = f + 1
print(f)
print(e)
```

### **Conversión de tipos**

Algunos tipos de datos permiten convertir su valor a otro tipo (*cast*).

Para ello podemos utilizar las siguientes funciones:


*   `int()` convierte el valor al tipo int (entero).
*   `float()` convierte el valor al tipo flotante (número real).
*   `str()` convierte el valor al tipo str (cadena).
*   `bool()` convierte el valor al tipo bool (booleano).

In [ ]:
# float to int, truncamiento

Cualquier número, con excepción de 0 (cero), cuando se convierte a booleano da como resultado Verdadero:

Cualquier cadena, con la excepción de la cadena vacía (""), cuando se convierte a booleano da como resultado Verdadero:

Los valores booleanos se pueden convertir a números:

Los valores booleanos se pueden utilizar en operaciones aritméticas, sin necesidad de una conversión explícita:

In [ ]:
print(5.2 + (3 < 7))

# **3. Entrada  de datos**

* La función **input** es responsable de recibir datos del usuario.
* El usuario debe escribir algo y presionar la tecla `enter`.
* Normalmente, almacenamos el valor leído en una variable.
* La función de entrada obtiene los datos proporcionados por la consola en formato cadena (str).
* Debemos convertir los datos si queremos trabajar con números.

In [ ]:
x = input("Mensaje opcional")

In [ ]:
#Input con numeros

Recordemos que podemos mostrar/imprimir en pantalla de la siguiente manera:

In [ ]:
name = "Marco"
age = 37
print("Hola " + name + " tu edad es " + age + " años." )

# **¡Vamos a programar!**

1. **IMC** Escribir un programa que pida al usuario su peso (en kg) y estatura (en metros), calcule el índice de masa corporal y lo almacene en una variable, y muestre por pantalla la frase "Tu índice de masa corporal es x .", donde x es el índice de masa corporal calculado redondeado con dos decimales.

# **4. Comandos Condicionales**

Un comando condicional es aquel que le permite decidir si se debe ejecutar o no un determinado bloque de comandos, en función del resultado de una expresión relacional o lógica.

<img src="https://drive.google.com/uc?export=view&id=113XtQfTeEpzUue_8ltrB2mczDVS0B0jy" alt="d" width="700">

## **if/else**

El comando condicional principal es if, cuya sintaxis es:

```
if expresión relacional o lógica:
    comandos ejecutados si la expresión es verdadera
```

Los comandos solo se ejecutan si la expresión relacional/lógica es verdadera.

In [ ]:
# verifica si un numero es par
numero = 8
if numero % 2 == 0:
    print("El número es par.")

32
El número es par.

Una variación del comando if es if/else, cuya sintaxis es:


```
if  expresión relacional o lógica:
    comandos ejecutados si la expresión es verdadera
else:
    comandos ejecutados si la expresión es falsa
```

In [ ]:
# verifica si un numero es par o impar
numero = 8
if numero % 2 == 0:
    print("El número es par.")
# ...

In [ ]:
# Ejercicio
# Escriba un programa para comprobar si una variable numérica tiene el valor 5, 6 o 7

## Condicionales Anidados

Un condicional también puede estar anidado dentro de otro. Por ejemplo, supongamos que tenemos dos variables enteras x e y. El siguiente patrón de selección muestra cómo podemos decidir cómo se relacionan entre sí.

In [ ]:
x = 10
y = 10

if x < y:
    print("x es menor  que y.")
else:
    if x > y:
        print("x es mayor  que y.")
    else:
        print("x y y devem ser iguales.")

En Python, tenemos los bloques que son un conjunto de comandos agrupados.
Los programas de Python se estructuran mediante sangría, es decir, los bloques se definen por su espaciado (tabulaciones) en relación al inicio de la línea.



```
Bloque de comandos 1

    Bloque de comandos 2

        Bloque de comandos 3

            Bloque de comandos 4

        Continuación de Bloque de comandos 3

    Continuación de Bloque de Comandos 2
    
Continuación de Bloque de Comandos 1
```

## **elif**

Cuando solo una de varias alternativas es verdadera, podemos usar la construcción `if-elif-else`, que en Python se representa por:



```
if condicion_1:
    comandos_1
elif condicion_2:
    comandos_2
elif condicion_3:
    comandos_3
elif condicion_4:
    comandos_4
else:
    comandos_5
```

In [ ]:
# verifica si un numero es positivo, negativo o cero
numero = -56

*Ejercicio*

¿Qué imprime el siguiente programa?

```
if (4 + 5 == 10):
    print("VERDADERO")
else:
    print("FALSO")
```

*Ejercicio*

¿Qué imprime el siguiente programa?

```
if (4 + 5 == 10):
    print("VERDADERO")
else:
    print("FALSO")
print("VERDADERO")
```

*Ejercicio*

Hay algún error en el siguiente programa?

```
x = -10
if x < 0:
    print("El número negativo ",  x, " no es valido aqui.")
else:
    print(x, " es un número positivo.")
else:
    print("Esto es siempre impreso.")
```

# **5. Buenas prácticas (Reglas de estilo)**

El código desordenado funciona mal: es difícil de leer y de depurar. Para ayudarle a desarrollar los hábitos correctos, queremos que siempre entregue código limpio siguiendo un buen estilo.

El objetivo del buen estilo es que el código sea "**legible**", lo que significa que cuando alguien pasa la vista por el código, lo que ese código hace sea evidente.

La experiencia ha demostrado que construir y depurar código legible requiere menos tiempo.

A continuación se muestra algunas reglas de estilo:

### **Nombres de funciones y variables**

Las funciones son las acciones en el código, entonces se usan  **verbos** para indicar que hace la función.

Las variables son como los **sustantivos** del código por eso preferimos nombres que reflejen qué almacena esa variable.


```
...
url = obtener_url()
if tiene_problema_seguridad(url):
    mostrar_alerta('Esa url parece sospechosa!')
else:
    html = descargar_url(url)
    mostrar_html(html)
...
```

### **Espacio único entre elementos**

Siempre rodee estos operadores binarios con un solo espacio a cada lado: asignación `(=)`, asignación aumentada (`+=`, `-=`, etc.), comparaciones `(==, <, >, !=, <>, <=, >=, in, not in, is, is not)`, booleanos `(and, or, not)`.



```
limite = x * 12 + 13
if x >= 4:
    print(x + 2)
```


### **Paréntesis sin espacio**

Los paréntesis izquierdo y derecho y los corchetes no tienen espacios que los separe de su contenido. El paréntesis izquierdo de una llamada a función está justo al lado del nombre de la función:

```
mostrar_evaluacion(152, 'completo')
actualizar_datos_alumno()
lista = [1, 2, z * 6]
```

### **Sangría de 4 espacios**

Código de sangría con 4 espacios. Una línea `def/if/for/ while` termina con dos puntos y las líneas contenidas comienzan en la siguiente línea, todas con sangría de 4 espacios, así:

```
if color == 'red':
    color = 'green'
    print(color)

```

Para hacer que la sangría sea automática en Colab, vamos en el menu superior a  Herramientas -> Configuración -> Editor -> Ancho de Sangria en espacios -> 4 -> Guardar.

Aquí también podemos editar la columna de regla vertical para 79, que es lo recomendado por la PEP8.



<img src="https://drive.google.com/uc?export=view&id=1po9B0mz0kAJPSuVpoG0BV3iDvsj-L2bL" alt="d" width="550">

Pueden encontrar más reglas de estilo en [
PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/).

# **6.  Comandos repetitivos: for y while**

---



Hasta ahora hemos visto cómo escribir programas capaces de ejecutar
comandos de forma lineal y, si es necesario, tomar decisiones con
con respecto a si ejecutar o no un bloque de comandos.

Sin embargo, eventualmente puede ser necesario ejecutar un bloque de
comandos varias veces para obtener el resultado esperado.



```
while <condición>:
    # el bloque se repetirá mientras la condición sea verdadera
    <comando1>
    <comando2>
    ...
    <comandoY>
```

In [ ]:
# imprime todos los numeros del 0 al 9

Tambien podemos usar **for** que permite tener iteraciones en una cantidad conocida.

In [ ]:
# range
# Imprime todos los números del 0 al 9

In [ ]:
# Imprime todos los números del 1 al 100

In [ ]:
# Imprime todos los números pares entre 0 y 13

In [ ]:
# como paramos un for/while sin que nos de error?
# Usamos break!

for numero in range(1,11):
    if (numero >= 5):
        break
    print(numero)
print("Termino el for")

In [ ]:
n = 0

while True:
    x = int(input("Ingrese un numero positivo : "))
    if x <= 0:
        break
    n = n + 1

print("Cantidad de numeros brindados: ", n)

In [ ]:
# Y si queremos que continue a la siguiente iteración?
# Usamos continue

### **while o for?**

* Utilice un bucle **for** si sabe, antes de iniciar el bucle, el número máximo de veces que necesitará para ejecutar el cuerpo del bucle.
* Utilice un bucle **while** si necesita repetir algún cálculo hasta que se cumpla alguna condición y no puede calcular de antemano cuándo sucederá.
    * **for**: “iteración definida”
    * **while**: “iteración indefinida”, no estamos seguros de cuántas iteraciones necesitamos ni podemos establecer un límite superior.

***Ejercicio***

Escriba un programa que use un número entero positivo n e imprima los valores entre 2 y n, que son divisores de n.

# **7. Funciones**


* Las funciones nos permiten agrupar un conjunto de comandos, que se ejecutan cuando se llama a la función. Previamente, ya vimos ejemplos del uso de funciones (range, sum, min, len, input,etc).

In [ ]:
# Ejemplo función print_msj()

Cuando creamos una variable dentro de una función, solo es accesible en esta función.

In [ ]:
# Variable global , local

Podemos proporcionar valores predeterminados para algunos de los argumentos.

In [ ]:
def imprime_suma(x, y = 0):
    print(x + y)

Los argumentos funcionan como asignaciones. Cuando pasamos variables asociadas con tipos simples, cualquier cambio en el argumento no cambia la variable original.

In [ ]:
def incrementa_argumento(x): # x = 1
    x = x + 1
    print(x)

a = 1
incrementa_argumento(a)

In [ ]:
print(a)

Una función puede devolver un valor. Para determinar el valor devuelto utilizamos el comando `return`.

In [ ]:
# Ejemplo return, tuplas

# **8.1 Estructuras de Datos en Python**

Las estructuras de datos organizan y almacenan datos, facilitando el acceso a los datos. Python cuenta con cuatro tipos de estructuras de datos: **listas, tuplas, diccionarios y conjuntos**.

## **8.1 Listas**

Una lista en Python es una estructura que almacena varios datos, que pueden ser o no del mismo tipo.

Se crea una lista con la construcción:
`  [dato_1, dato_2, ..., dato_n ]`

Podemos saber el tamaño de la lista usando `len(lista)`.

In [ ]:
# lista de enteros y su tamaño
lista_enteros = [2, 4, 6]
print(lista_enteros)
print(type(lista_enteros))
print(len(lista_enteros))

[2, 4, 6]
<class 'list'>
3

In [ ]:
# lista de dias

In [ ]:
# lista conteniendo otra lista



La sintaxis para acceder a una posición determinada es:
` nombre_de_lista[posición]`

Siendo n el tamaño de la lista, los índices válidos para ella oscilan entre 0 y n − 1.

*   La primera posición de la lista tiene índice 0.
*   La última posición de la lista tiene índice n − 1.




<img src="https://drive.google.com/uc?export=view&id=1mCiiogiCW9X85YFbIcqtUohQdiLkeu9X" alt="d" width="550">

In [ ]:
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas[0])
print(notas[1])
print(notas[2])
print(notas[3])
print(notas[4])

También podemos accder a los elementos de la lista desde el final empezando en -1.

<img src="https://drive.google.com/uc?export=view&id=11Q2CJMILZt_ILTVXip5quc-2UphJF0Ct" alt="d" width="550">

In [ ]:
lista = [2023, "Data Science", True, 0.05]
print(lista[-1])
print(lista[-2])
print(lista[-3])
print(lista[-4])
print(lista[-5])



El corte/slicing en Python se logra con
`lista[ind1:ind2]`
y el resultado es una sublista con elementos de `ind1` a `ind2−1`.

<img src="https://drive.google.com/uc?export=view&id=1j50Qmn594w7Pl7S7IH7t13LM5XQUiic6" alt="d" width="550">

In [ ]:
lista = [2023, "Data Science", True, 0.05]
print(lista[1:3])

['Data Science', True]

### Métodos
```
--------------------------------
  * append()	   - Agregar
  * extend()	   - Agregar
  * insert()	   - Agregar
  * index()		- Buscar
  * pop()		  - Eliminar
  * remove()	   - Eliminar
  * reverse()	  - Ordenar
  * sort()		 - Ordenar
  -----------------------------
```

### Insertando elementos
**append**

In [ ]:
frutas = []
frutas.append("fresa")
print(frutas)
#frutas.append("naranja")
#print(frutas)

['fresa']

**insert**

In [ ]:
colores = [ "azul", "blanco", "negro"]
colores.insert(1, "rojo")
print(colores)

['azul', 'rojo', 'blanco', 'negro']

**extend**

El método `extend()` agrega todos los elementos de un iterable (lista, tupla, cadena, etc.) al final de la lista.

In [ ]:
pares = [2, 4, 6, 8]
print(colores)
colores.extend(pares)
print(colores)

['azul', 'rojo', 'blanco', 'negro']
['azul', 'rojo', 'blanco', 'negro', 2, 4, 6, 8]

### Buscando elementos

**in**

Podemos comprobar si un elemento está en una lista o no utilizando el operador de prueba de inclusión `in`.

Este operador devuelve Verdadero o Falso si el elemento está o no en la lista, respectivamente.

**index()**

Este método recibe un elemento como argumento, y devuelve el índice de su primera aparición en la lista.

In [ ]:
top5 = ["Black Mirror", "Breaking Bad", "Friends",
    "Game of Thrones", "The Big Bang Theory"]
print("House MD" in top5)
# False
print("Game of Thrones" in top5)
# True
print("friends" in top5)

In [ ]:
# test index

### Eliminando elementos

**remove**
El método remove recibe como parámetro el elemento a eliminar de la lista.

La primera aparición del elemento especificado como parámetro se elimina de la lista.

Si el elemento no está en la lista, se generará un error

In [ ]:
# ELiminando Argentina y Dinamarca
paises = ["Argentina", "Argentina", "Brasil", "Canadá"]
paises.remove("Argentina")
print(paises)

**pop**



El método pop recibe como parámetro la posición del elemento a eliminar de la lista. Si se omite el parámetro, el último elemento de la lista será eliminado.

En respuesta, el método devuelve el elemento eliminado.

Cada elemento desde la posición especificada hasta el final de la lista se reubica en la posición anterior.

In [ ]:
paises = ["Argentina", "Dinamarca", "Brasil", "Canadá"]
print(paises.pop(1))

### Ordenando Listas

Se puede ordenar una lista utilizando el método `sort`.

El método `sort` tiene el parámetro inverso opcional, que indica si la lista debe ordenarse de forma ascendente (False) o descendente (True). De forma predeterminada, el valor de este parámetro es Falso (orden ascendente).

In [ ]:
a = [5, 3, 1, 4, 2, 6]
a.sort()
print(a)

In [ ]:
#help(list.sort)

In [ ]:
# reverse = True

### Usando for


```
for variable in lista:
    comando(s)
```

In [ ]:
# Imprime todos los números de una lista

***Ejercicio***
¿Cual será el resultado?

```
lista = [4, 2, 8, 6, 5]
nueva_lista = [ ]
for item in lista:
    nuevva_lista.append(item+5)
print(nueva_lista)
```

A. [4, 2, 8, 6, 5]

B. [4, 2, 8, 6, 5, 5]

C. [9, 7, 13, 11, 10]

D. Error, no podemos concatenar dentro de un append.

***Ejercicio***
¿Cual será el resultado?

```
lista = [ [4, [True, False], 6, 8], [888, 999] ]
if lista[0][1][0]:
    print(lista[1][0])
else:
    print(lista[1][1])
```

A. 6

B. 8

C. 888

D. 999

## **8.2 Tuplas**

Las tuplas son una secuencia de elementos separados por comas,  entre paréntesis.

También puedes mezclar elementos de diferentes tipos.
Sin embargo, a diferencia de las listas, las tuplas son inmutables.

Ejemplo: `(18, "Abril", 9.5, 1)` es una tupla de 4 elementos

In [ ]:
tupla1 = ('abril', 18, 4, 2018)
tupla2 = (1, 2, 3, 4, 5, 6, 7)

***Ejercicio:*** ¿Qué será impreso?

```
t1 = ('A',)
t2 = ('A')
print(type(t1))
print(type(t2))
```

In [ ]:
# test

In [ ]:
# Podemos acceder a sus elementos de la misma manera que en las listas.

In [ ]:
# Las tupas son inmutables. No podemos cambiar sus elementos. Intentemos cambiar
#  un elemento para ver que ocurre

# **8.3. Diccionarios**

Los diccionarios son estructuras de datos que asocian una clave con un valor.

Los valores pueden ser datos de cualquier tipo, pero las claves solo pueden ser datos de tipos inmutables.
Las claves deben ser únicas.

In [ ]:
ids = {"Liz": 229874, "Hugo": 215793, "Sofia": 199745}
print(type(ids))

In [ ]:
# El operador in comprueba si una clave está en el diccionario
"Sofia" in ids

### Métodos


*   items() devuelve todos los pares clave/contenido del diccionario.
*   keys() devuelve todas las claves del diccionario.
*   values() devuelve todos los valores del diccionario.

In [ ]:
ids = {"Liz": 229874, "Hugo": 215793, "Sofia": 199745}
ids.items()

In [ ]:
# Comando del elimina un par de key and value'
# del dicccionario[key]

***Ejercicio*** Cuál es el resultado de el siguiente programa?

```
mydict = {"cat":12, "dog":6, "elephant":23}
mydict["mouse"] = mydict["cat"] + mydict["dog"]
print(mydict["mouse"])
```

A. 12

B. 0

C. 18

D. Error.

***Ejercicio*** Cuál es el resultado de el siguiente programa?

```
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
keylist = list(mydict.keys())
keylist.sort()
print(keylist[3])
```

A. cat

B. dog

C. elephant

D. bear

***Ejercicio*** Cuál es el resultado de el siguiente programa?

```
total = 0
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
for akey in mydict:
    if len(akey) > 3:
        total = total + mydict[akey]
 print(total)
```

A. 18

B. 43

C. 0

D. 61

# **9. NumPy**



<img src="https://numpy.org/images/numpy-image.jpg" alt="data" width="720">

NumPy, Numerical Python, es uno de los paquetes fundamentales más importantes para la computación numérica en Python. Muchos paquetes computacionales que brindan funcionalidad científica utilizan los objetos array de NumPy como su base.

Numpy es un modulo (archivo Python clases y funciones) que necesita ser llamado mediante el comando **import**.




```python
import numpy
import numpy as np
from numpy import *
```

In [ ]:
import numpy as np

In [ ]:
import time


py_list1 = list(range(1000000))
py_list2 = list(range(1000000, 2000000))


np_array1 = np.arange(1000000)
np_array2 = np.arange(1000000, 2000000)

# Sumando Python lists
start_time = time.time()
result_list = [a + b for a, b in zip(py_list1, py_list2)]
print("Tiempo usando Python lists: ", time.time() - start_time)

# Sumando Numpy arrays
start_time = time.time()
result_array = np_array1 + np_array2
print("Tiempo usando Numpy arrays: ", time.time() - start_time)

Time taken to add Python lists:  0.0615992546081543
Time taken to add Numpy arrays:  0.0045773983001708984

## **Numpy Arrays**

- Un `array` NumPy es una cuadrícula de valores del mismo tipo.

- Las matrices o `array` de Numpy son similares a las listas de Python, excepto que requieren menos memoria y generalmente son más rápidas porque utilizan código C precompilado optimizado.

- Cada dimensión de un array es llamada eje (axis_)
- Los ejes son numerados a partir de 0
- Los elementos son accesados unsado [ ] (semejantes a las listas en Python)

### 1D Arrays

In [ ]:
#1D Arrays
numeros = np.array([1, 2, 3, 4, 5])

In [ ]:
# Otras formas de crear arrays
a1d = np.arange(10)         # 0 .. n-1  (!)
b1d = np.arange(1, 9, 2)    # inicio, fin (exclusivo), salto
c1d = np.ones(5)
d1d = np.zeros(7)
e1d = np.linspace(0, 1, 6)  # start, end, num-points
f1d = np.full((13),-4)      # num-veces, num
g1d = np.random.rand(9)     # muestras aleatorias de una distribución uniforme
                            # sobre [0, 1)

print('a1d=',a1d)
print('b1d=',b1d)
print('c1d=',c1d)
print('d1d=',d1d)
print('e1d=',e1d)
print('f1d=',f1d)
print('g1d=',g1d)

a1d= [0 1 2 3 4 5 6 7 8 9]
b1d= [1 3 5 7]
c1d= [1. 1. 1. 1. 1.]
d1d= [0. 0. 0. 0. 0. 0. 0.]
e1d= [0.  0.2 0.4 0.6 0.8 1. ]
f1d= [-4 -4 -4 -4 -4 -4 -4 -4 -4 -4 -4 -4 -4]
g1d= [0.8106396  0.43543919 0.95884565 0.87331112 0.76044501 0.6446176
 0.39186388 0.41413278 0.7154362 ]

In [ ]:
# otra forma de crear un array de aleatorios enteros
a= np.random.randint(-100,100,10)
print()

Numpy arrays son objetos llamados **_ndarrays_** y poseen diversos atributos
- ndarray.ndim - El número de ejes (dimensiones) del array
- ndarray.shape - Tupla de enteros indicando el tamaño del array en cada dimensión
- ndarray.size - El número total de elementos del array
- ndarray.dtype - Un objeto que describe el tipo de elementos del array

In [ ]:
print(numeros)
print(type(numeros))

In [ ]:
print(numeros.dtype) # Tipo de los datos

[1 2 3 4 5]
<class 'numpy.ndarray'> int64

In [ ]:
#array dtype float
b = np.array([1., 2., 3.])
b.dtype

Los diferentes tipos de datos nos permiten almacenar datos de forma más compacta en la memoria, pero la mayoría de las veces simplemente trabajamos con números de punto flotante. En los ejemplos anteriores, NumPy detecta automáticamente el tipo de datos de la entrada.

In [ ]:
c = np.array([1, 2, 3], dtype=float) # se especifica explicitamente el tipo
c.dtype

In [ ]:
# Ejercicio: Como se obtendria los numeros pares desde el 2 hasta el final?

### 2D Arrays

In [ ]:
## 2D Arrays
lista = [(1.5, 2, 3), (4, 5, 6)]
a2d = np.array(lista)
print(a2d)

[[1.5 2.  3. ]
 [4.  5.  6. ]]

In [ ]:
a2d.shape

(2, 3)

In [ ]:
a2d.dtype

dtype('float64')

In [ ]:
a2d.ndim

2

También podemos usar los mismos métodos que mencionamos anteriormente siempre que les demos una tupla que describa las dimensiones de la matriz que estamos creando:

<img src="https://jalammar.github.io/images/numpy/numpy-matrix-ones-zeros-random.png" alt="data" width="850">

In [ ]:
# Otras formas de crear arrays en  2d
c2d = np.ones((2,5))                     # shape en tupla
d2d = np.zeros((10,2))
e2d = np.eye(3)                          # matriz identidad 1s en la diagonal
f2d = np.diag(np.array([1, 2, 3, 4]))    # cuando se le pasa un array crea una matriz

print('c1d= \n',c2d)
print('d1d= \n',d2d)
print('e1d= \n',e2d)
print('f1d= \n',f2d)

### Indexing - Slicing

<img src="https://jalammar.github.io/images/numpy/numpy-matrix-indexing.png" alt="data" width="850">

In [ ]:
a = np.diag(np.arange(5))
a

array([[0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 2, 0, 0],
       [0, 0, 0, 3, 0],
       [0, 0, 0, 0, 4]])

In [ ]:

a[3,3]

In [ ]:
# Primera fila
a[0,:]

In [ ]:
# Primera columna
a[:,1]

In [ ]:
#sub matriz
a[1:3,1:3]

*Ejercicio: Cual seria la forma de retornar los elementos mostrados en la figura?*

a) [2,12,22,32,42,52]

b) [3,4]

c) [ [20,22,24], [40,42,44] ]

d) [ [44, 45], [54, 55]]

![Screenshot 2023-11-03 172620.png]()

In [ ]:
# Tu codigo va aqui

### Reshape
Permite cambiar la forma de un array

<img src="https://jalammar.github.io/images/numpy/numpy-reshape.png" alt="data" width="750">

In [ ]:
#Ejemplo

In [ ]:
# Funcion .ravel() Aplana un array

### Transpuesta

<img src="https://jalammar.github.io/images/numpy/numpy-transpose.png" alt="data" width="550">

In [ ]:
#Ejemplo

- Un array de valores booleanos (máscara boolena) puede ser usado para seleccionar elementos en otro array
- Máscaras booleanas pueden ser usadas para hacer atribuciones de manera más elegante

In [ ]:
x = np.arange(18).reshape(3,6)
print(x)

mask = (x > 7)
print(10*"-")
print(mask)
print(10*"-")

print(x[mask])
x[mask]=0
print(10*"-")
print(x)

Ejercicio

Como acceder a los elementos en rojo:
 [2,22,52]?

![Screenshot 2023-11-03 175816.png]()

### Copias y Vistas

Una operación de corte (slicing) crea una vista en la matriz original, que es solo una forma de acceder a los datos de la matriz. Por tanto, la matriz original no se copia en la memoria.

In [ ]:
#Ejemplo modificacion de array original

In [ ]:
# Para copiar se debe usar .copy()

*Ejercicio: Crear la siguiente matriz*


<img src="https://drive.google.com/uc?export=view&id=1bUlrG52U0ErC9l1AW6P662caT7bedDCV" alt="data" width="400">

In [ ]:
# Tu codigo va aquí

## Insertar  y Eliminar elementos


1D
*   np.delete(array, idx)
*   np.append(array, elems)
*   np.insert(array, idx, elems)

N-dim
*   np.delete(array, idx, axis=eje)
*   np.append(array, elems, axis=eje)
*   np.insert(array, idx, elems, axis=eje)

axis=0 hace referencia a filas y axis=1 hace referecia a columnas

Estas funciones no son destructivas. Devuelven una copia modificada del array.

In [ ]:
values = np.arange(15)

print(np.delete(values, 2))  # índice (como escalar)

print(np.delete(values, (2, 3, 4)))  # índices (como tupla o lista)

In [ ]:
# No afectan values, son una copia modificada
print(values)

In [ ]:
# Ejemplo append

In [ ]:
# Ejemplo insert

In [ ]:
# 2D
values = np.arange(12).reshape(3,4)
print(np.delete(values, 0, axis=0))  # Borrado de la primera fila
print(np.delete(values, (1, 3), axis=1))  # Borrado de la segunda y cuarta columna

In [ ]:
np.append(values, [[5, 6]], axis=0)
np.append(values, [[5], [6]], axis=1)

In [ ]:
# insert

## Apilación de matrices
Para combinar dos matrices (arrays en general)podemos usar el apilado (stacking).

In [ ]:
m1 = np.random.randint(1, 100, size=(3, 2))
m2 = np.random.randint(1, 100, size=(1, 2))

In [ ]:
# Apilado vertical, las filas crecen
#np.vstack((array1, array2,... ,arrayN))

In [ ]:
# Apilado horizontal, las columnas crecen
#np.vstack((array1, array2))

## Ordenación de arrays
En términos generales, existen dos formas de ordenar cualquier estructura de datos, una que modifica «in-situ» los valores (destructiva) y otra que devuelve «nuevos» valores (no destructiva). En el caso de NumPy también es así.

In [ ]:
np.sort(array) # no destructivo

In [ ]:
array.sort #destructivo

In [ ]:
# np.sort(values, axis=1)  # equivale a np.sort(values)

In [ ]:
#2D

## Funciones comunes
- Funciones matemáticas:
    `np.sqrt(array), np.sin(array), np.log(), np.abs()`
- Funciones reductoras: `np.sum(), np.prod()`
- Funciones estadísticas: `np.mean(), np.std(), np.median()`
- Funciones algebraicas:  `np.dot(), np.matmult(), np.linalg.inv()`

- Máximos y mínimos


<img src="https://jalammar.github.io/images/numpy/numpy-matrix-aggregation-1.png" alt="data" width="700">

In [ ]:
# Ejemplo funciones matematicas

In [ ]:
# Ejemplo con np.sum()

Cuando configuramos el eje = 0, la función en realidad suma las columnas. El resultado es una nueva matriz NumPy que contiene la suma de cada columna. ¿Por qué? ¿No se refiere el eje 0 a las filas?

El parámetro del eje indica qué eje se contrae.
Cuando utiliza la función de suma NumPy con el parámetro de eje, el eje que especifica es el eje que se contrae.
Entonces, cuando establecemos el eje = 0, no estamos sumando las filas. Cuando configuramos el eje = 0, agregamos los datos de manera que colapsamos las filas... colapsamos el eje 0.

<img src="https://miro.medium.com/v2/resize:fit:1138/1*UEg1gfz5kZ0-eAUcewiOWw.png" alt="data" width="500">

In [ ]:
# Ejemplo funciones estadisticas

<img src="https://jalammar.github.io/images/numpy/numpy-matrix-aggregation-4.png" alt="data" width="700">

In [ ]:
# Máximos y mínimps
# np.min(array)
# np.max()

Si lo que interesa es obtener los índices de aquellos elementos con valores máximos o mínimos, podemos hacer uso de las funciones argmax() y argmin() respectivamente.

In [ ]:
#idx = np.argmax(values, axis=0)

In [ ]:
#Obtener los valores
# values[idx, range(values.shape[1])]

## Operaciones Aritméticas

Las operaciones básicas en matrices numerosas (suma, etc.) son por elementos (element-wise). Pra esto los arrays deben ser del mismo tamaño.

A menudo hay casos en los que queremos realizar una operación entre una matriz y un solo número (también podemos llamar a esto una operación entre un vector y un escalar). Digamos, por ejemplo, que nuestra matriz representa la distancia en millas y queremos convertirla a kilómetros. Simplemente decimos datos * 1.6:

<img src="https://jalammar.github.io/images/numpy/numpy-array-broadcast.png" alt="data" width="700">

¿Ves cómo NumPy entendió que esa operación significaba que la multiplicación debería ocurrir con cada celda? Ese concepto se llama **broadcasting**.

In [ ]:
# Ejemplos arrays y escalares

Es posible realizar operaciones en matrices de diferentes tamaños ya que NumPy puede transformar estas matrices para que todas tengan el mismo tamaño: esta conversión se llama **broadcasting**.

<img src="https://lectures.scientific-python.org/_images/numpy_broadcasting.png" alt="data" width="750">

In [ ]:
# Ejercicio: Crear matrices
# tu código va aquí

In [ ]:
#Verificar broadcasting primer y segundo caso

In [ ]:
# 1D array to 2D array
# a = np.arange(0, 8)
# print(a.shape)
# a = a[:, np.newaxis]  # añade un nuevo eje,dimension -> 2D array
# print(a)
# print(a.shape)

In [ ]:
# verificar tercer caso

*Ejercicio*

Dado el siguiente vector que muestra los hitos kilométricos de 10 ciudades.


```
hitos_km = np.array([0, 198, 303, 736, 871, 1175, 1475, 1544,
       1913, 2448])
```



Cree la matriz de distancias entre cada ciudad.

Resultado esperado:


```

array([[   0,  198,  303,  736,  871, 1175, 1475, 1544, 1913, 2448],
       [ 198,    0,  105,  538,  673,  977, 1277, 1346, 1715, 2250],
       [ 303,  105,    0,  433,  568,  872, 1172, 1241, 1610, 2145],
       [ 736,  538,  433,    0,  135,  439,  739,  808, 1177, 1712],
       [ 871,  673,  568,  135,    0,  304,  604,  673, 1042, 1577],
       [1175,  977,  872,  439,  304,    0,  300,  369,  738, 1273],
       [1475, 1277, 1172,  739,  604,  300,    0,   69,  438,  973],
       [1544, 1346, 1241,  808,  673,  369,   69,    0,  369,  904],
       [1913, 1715, 1610, 1177, 1042,  738,  438,  369,    0,  535],
       [2448, 2250, 2145, 1712, 1577, 1273,  973,  904,  535,    0]])
```

In [ ]:
# tu codigo va aquí

Numpy proporciona cientos de funciones para realizar operaciones en matrices. A continuación, se muestran algunas funciones de uso común:


* Matemáticas: `np.sum`,` np.exp`, `np.round`
* Manipulación de matrices: `np.reshape`,` np.stack`, `np.concatenate`,` np.split`
* Álgebra lineal: `np.matmul`,` np.dot`, `np.transpose`,` np.eigvals`
* Estadísticas: `np.mean`,` np.median`, `np.std`,` np.max`

> **¿Cómo encontrar la función que necesita?** La forma más fácil de encontrar la función correcta para una operación o caso de uso específico es hacer una búsqueda en la web. Por ejemplo, la búsqueda de "Cómo unir matrices numpy" conduce a [este tutorial sobre concatenación de matrices] (https://cmdlinetips.com/2018/04/how-to-concatenate-arrays-in-numpy/).

Puede encontrar una lista completa de funciones aquí: https://numpy.org/doc/stable/reference/routines.html

# Referencias



*   [Te damos la bienvenida a Colaboratory](https://colab.research.google.com/?hl=es#scrollTo=5fCEDCU_qrC0)
*   Parlante, N. [Python Guide](https://cs.stanford.edu/people/nick/py/): University of Stanford -  CS106A - https://cs.stanford.edu/people/nick/py/
*  A Visual Intro to NumPy and Data Representation  https://jalammar.github.io/visual-numpy/
* Numpy Axes, Explained https://www.sharpsightlabs.com/blog/numpy-axes-explained/

* Como Pensar Como um Cientista da Computação, Universidad de Sao Paulo, https://panda.ime.usp.br/pensepy/static/pensepy/

*© Copyright: Este notebook no puede ser distribuido parcial o totalmente sin autorizacion*